@import 'tailwindcss';

@font-face {
	font-family: Inter;
	font-weight: 100 900;
	src: url('/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf');
}

:root {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@layer base {
	button:not([disabled]),
	[role='button']:not([disabled]) {
		cursor: pointer;
	}
}

@theme {
	--magmart-red: hsl(9, 89%, 49%);
}

@theme inline {
	--color-magmart-red: var(--magmart-red);
}
